<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
        <%= rowsX.id %>
        <%= rowsX.name %>
        <%= rowsX.emp_number %>
        <%= rowsX.reg_date %>
        <a href="/edit/<%= rowsX.id %>">Edit</a>
        <a href="/delete/<%= rowsX.id %>">Delete</a>
</body>
</html>