doctype html 
html 
    head 
        title edit
    body 
        h1 edit
        form(action=`/edit/${person.id}` method="post")
            p
                label(for="id") 아이디
                input(type="text" name="id" value=`${person.id}`)
            p
                label(for="name") 이름
                input(type="text" name="name" value=`${person.name}`)
            p
                label(for="email") email
                input(type="text" name="email" value=`${person.email}`)
            p
                label(for="password") 비밀번호
                input(type="text" name="passwd" value=`${person.passwd}`)
            p 
                input(type="submit" value="수정")
